@import url('https://fonts.googleapis.com/css?family=Cabin|Noto+Sans+JP|Pacifico&display=swap');

@media (max-width: 1000px) {
  .wrapper {
    flex-flow: column wrap;
    padding: 0px;
    margin: 0px;
  }
}

@media (max-width: 1000px) {
  hr {
    display: none;
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.head, .thank {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
}

.thank {
  height: 200px;
  padding: 25px;
  border-radius: 50px;

}

.thank_img {
  position: relative;
  animation-duration: 1s;
  animation-name: arrow;
  animation-iteration-count: infinite;
}

.head_logo{
  width: 150px;
}

.head_name {
  font-family: 'Pacifico', cursive;
}

.thank_img {
  height: 25px;
  width: 25px;
}

/* main body */
.wrapper {
  display: flex;
  flex-flow: row wrap;
  padding: 0px 75px 100px 75px;
}

.cards {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  font-family: 'Cabin', sans-serif;
  padding: 0px 50px 0px 50px;
  margin-bottom: 50px;
  
}

.cards_text {
  max-width: 300px;
}


.cards_form > *{
  margin-top: 15px;
}

.cards_opinions {
  border-top: none;
  border-left: none;
  border-right: none;
}

.form_submit {
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  font-family: 'Cabin', sans-serif;
}

.form_submit:hover, .cards_opinions:hover {
  background-color: #F2C2C2;
}

.cards_img {
  max-width: 400px;
}


.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-family: 'Noto Sans JP', sans-serif;
}


/* Arrow down animation */
@keyframes arrow {
  0%   {left:0px; top:0px;}
  50%  {left:0px; top:10px;}
  100% {left:0px; top:0px;}
}